*, *:after, *:before {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.header {
    position: absolute;
    left: calc(50% - 1280px / 2);
    top: 63px;
}

.header-box {
    height: 189px;

}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header-title {
    text-decoration: none;
    margin-top: 63px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: rgba(75, 202, 255, 1);
}

.header-title span {
    color: rgba(0, 0, 0, 1);
}

.header-menu {
    height: 69px;
    background: #35444F;
}

.header-menu ul {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-menu ul li {
    padding: 24px 33px 18px;
    border-left: 1px solid #FFFFFF;
}

.header-menu ul li:last-child {
    border-right: 1px solid #FFFFFF;
}

.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #FFFFFF;
}

.header-menu ul li:hover {
    background-color: #222F3A;
}

.main {
    position: absolute;
    left: calc(50% - 1280px / 2);
    top: 300px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.main-box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    height: 399px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.main-menu-list {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 20px 44px;

    color: #485863;
}

.main-menu-list:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DBDBDB;
    color: #35444F;
    width: 342px;
    height: 81px;
}

.main-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 885px;
    height: 832px;
}

.main-content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;

    border: 1px solid #000000;
}

.main-content-image img:hover {
    transform: scale(1.1);
}

.main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}

.footer {
    position: absolute;
    left: calc(50% - 1280px / 2);
    top: 1183px;
    padding-bottom: 30px;
}

.footer-box {
    display: flex;
    align-items: center;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 875px;
    height: 28px;
    left: 40px;
}

.footer-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

    color: #0C1927;
}

.footer-link:hover {
    color: rgba(49, 129, 166, 1);

    border-bottom: 1px solid #3181A6;
}

.footer-copyright {
    display: flex;
    align-items: center;
    width: 190px;
    height: 69px;
    position: absolute;
    left: 1050px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    color: #010101;
}